#portfolio {
  width: 100%;
  padding-top: 10px;
}

.sticky-filter-container {
  text-align: center;
  width: 100%;
  z-index: 100;
  padding: 10px;
}

button.filter {
  width: 120px;
  height: 30px;
  margin: 10px;
  font-family: $body-font;
  cursor: pointer;
  border: 2px solid $light-gray;
  border-radius: 5px;
  font-size: 18px;
  color: $light-gray;
  background-color: white;
  outline: 0;
}

button.active {
  background-color: $gold;
  border: none;
  color: white;
}

.project {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: visible;

  h2 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid $gold;
  }

  h4 {
    font-size: 20px;
  }
}

.project-image {
  padding-top: 10px;
  display: inline-block;
  width: 35%;
  min-width: 250px;
  height: 100%;
  margin-right: 10px;
  padding-right: 15px;

  img {
    width: 100%;
  }
}

.project-label {
  color: $gold;
  // color: #7C7C7C;
}

.category {
  color: $gold !important;
}

.project-detail {
  padding-top: 10px;
  display: inline-block;
  width: 55%;
  height: 100%;
  h3 {
    margin-top: 0px;
    font-size: 18px;
    font-weight: bold;
  }
  p {
    margin-top: 0px;
    margin-bottom: 15px;
  }
}

.course-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-between;
}

#parsons {
  width: 200px;
  margin-left: 10%;
}

.course {
  width: 500px;
  margin: 5px 5px 20px 5px;
  padding: 10px;
  background-color: $near-white;
}

.course-title {
  width: 100%;
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 5px;
  }
}

.course-description {
  font-size: 18px;
}

@media screen and (max-width: 1130px) {
  .course {
    width: 45%;
  }
}

@media screen and (max-width: 775px) {
  button.filter {
    width: 90px;
    height: 25px;
    margin: 5px;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .project-detail {
    width: 100%;
  }
  .course {
    width: 100%;
  }
  #parsons {
    margin-left: 0px;
  }
}

@media screen and (max-width: 320px) {
  button.filter {
    width: 70px;
    height: 25px;
    font-size: 12px;
  }
}
